user can:
- create a reading goal
- add new books to read (book name, author, genre, total pages)
- update their reading status (unread, inprogress, complete)
- update the reading progress based on the current page and the total pages
- update the reading goal when reading status of book is finished
- rate the book based on a 3-star rating
- write a note or review
- get suggestions for what to read next
- share their reading list externally